@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
article, h1, nav, section, ul, dl, dt, dd {
  margin: 0;
  padding: 0;
  font: inherit;
}

button, button:hover, button:focus, button:active {
  margin: 0;
  padding: 0;
  background-color: inherit;
  border: none;
}

ul li {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  text-align: center;
}

.mainArticle {
  width: 1060px;
  margin: 91px auto;
  padding: 41px 29px 31px 28px;
  background-color: #F2F2F2;
  border-radius: 30px;
  border: 2px solid #BDBDBD;
}

.mainHeader {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0 auto;
}
.mainHeader::after {
  display: block;
  content: "";
  width: 650px;
  height: 2px;
  margin: 37px auto 0;
  background-color: #BDBDBD;
}

.navList {
  width: 650px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 28px auto;
}
.navList li {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #828282;
  cursor: pointer;
}
.navList .selected {
  font-weight: 900;
  color: black;
}

.movieSection {
  background-color: white;
  border: 2px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 15px;
}

.movieSectionHeader {
  display: block;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.movieList {
  padding: 26px 27px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 23px;
}
.movieList li {
  overflow: hidden;
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.movieList li .movieContainer {
  padding: 19px 20px 18px;
}
.movieList li .movieImg {
  width: 180px;
  height: 250px;
  border: 1px solid #BDBDBD;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.movieList li .title {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: justify;
  color: black;
  font-weight: 900;
  font-size: 16px;
  line-height: 23px;
  margin: 11px auto 12px;
}
.movieList li .icon {
  width: 16px;
  height: 16px;
}

.movieDef {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  text-align: left;
  row-gap: 5px;
}
.movieDef .genre {
  grid-column: 1;
}
.movieDef .rate {
  text-align: right;
  grid-column: 2;
}
.movieDef .date {
  grid-column: 1/span 2;
}
.movieDef .character {
  grid-column: 1/span 2;
}
.movieDef dt {
  display: inline-block;
  color: #828282;
  margin-right: 5px;
}
.movieDef dd {
  display: inline-block;
  vertical-align: bottom;
  color: black;
}
.movieDef .rate img {
  width: 14px;
  margin-right: 4px;
  vertical-align: -1px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  background-color: #BDBDBD;
  gap: 1px;
}

.bookButton, .bookButton:hover, .bookButton:focus, .bookButton:active, .playButton, .playButton:hover, .playButton:focus, .playButton:active {
  border-top: 1px solid #BDBDBD;
  background-color: #F2F2F2;
  color: black;
  width: 50%;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  padding: 9px 26px;
  cursor: pointer;
}
.bookButton img, .playButton img {
  vertical-align: -2px;
  margin-right: 2px;
}/*# sourceMappingURL=style.css.map */