@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$gray: #828282 #BDBDBD #F2F2F2;

@mixin flex($hor:center, $ver:center, $gap:0){
    display: flex;
    justify-content: $hor;
    align-items: $ver;
    gap: $gap;
}

@mixin grid($col, $width:auto, $gap:0){
    display: grid;
    grid-template-columns: repeat($col, $width);
    gap: $gap;
}

@mixin marginAlign($t:0, $b:$t){
    @if $b == $t{
        margin: $t auto;
    }
    @else{
        margin: $t auto $b;
    }
}

@mixin textEllipsis{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin blind{
    display: block;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

article, h1, nav, section, ul, dl, dt, dd{
    margin: 0;
    padding: 0;
    font: inherit;
}

button{
    &, &:hover, &:focus, &:active{
        margin: 0;
        padding: 0;
        background-color: inherit;
        border: none;
    }
}

ul{
    li{
        list-style: none;
    }
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: white;
    text-align: center;
}

.mainArticle{
    width: 1060px;
    @include marginAlign(91px);
    padding: 41px 29px 31px 28px;
    background-color: nth($gray, 3);
    border-radius: 30px;
    border: 2px solid nth($gray, 2);
}

.mainHeader{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    @include marginAlign;

    &::after{
        display: block;
        content: "";
        width: 650px;
        height: 2px;
        @include marginAlign(37px, 0);
        background-color: nth($gray, 2);
    }
}

.navList{
    width: 650px;
    @include flex(space-around);
    @include marginAlign(28px);
    li{
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: nth($gray, 1);
        cursor: pointer;
    }
    .selected{
        font-weight: 900;
        color: black;
    }
}

.movieSection{
    background-color: white;
    border: 2px solid nth($gray, 2);
    box-sizing: border-box;
    border-radius: 15px;
}

.movieSectionHeader{
    @include blind;
}

.movieList{
    padding: 26px 27px;
    @include grid(4, 1fr, 23px);
    li{
        overflow: hidden;
        border: 1px solid nth($gray, 2);
        box-sizing: border-box;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        .movieContainer{
            padding: 19px 20px 18px;
        }
        .movieImg{
            width: 180px;
            height: 250px;
            border: 1px solid nth($gray, 2);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
        }
        .title{
            @include textEllipsis;
            text-align: justify;
            color: black;
            font-weight: 900;
            font-size: 16px;
            line-height: 23px;
            @include marginAlign(11px, 12px);
        }
        .icon{
            width: 16px;
            height: 16px;
        }
    }
}

.movieDef{
    @include grid(2);
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    text-align: left;
    row-gap: 5px;
    .genre{
        grid-column: 1;
    }
    .rate{
        text-align: right;
        grid-column: 2;
    }
    .date{
        grid-column: 1 / span 2;
    }
    .character{
        grid-column: 1 / span 2;
    }
    dt{
        display: inline-block;
        color: nth($gray, 1);
        margin-right: 5px;
    }
    dd{
        display: inline-block;
        vertical-align: bottom;
        color: black;
    }
    .rate{
        img{
            width: 14px;
            margin-right: 4px;
            vertical-align: -1px;
        }
    }
}

.buttonContainer{
    @include flex(space-between, $gap: 1px);
    background-color: nth($gray, 2);
}

.bookButton, .playButton{
    &, &:hover, &:focus, &:active{
        border-top: 1px solid nth($gray, 2);
        background-color: nth($gray, 3);
        color: black;
        width: 50%;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        padding: 9px 26px;
        cursor: pointer;
    }
    img{
        vertical-align: -2px;
        margin-right: 2px;
    }
}

